spring.application.name=prestamos

spring.datasource.url=jdbc:postgresql://localhost:xxxx/db_ventas
spring.datasource.username=jenruco
spring.datasource.password=jenruco
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

app.jwt.secret=Z4FzvnWWYZ9IvJGBdhnVlE4ONZllQo2e74xxyChvUrY=
app.jwt.expiration=86400000

app.cors.allowed-origins=http://localhost:4200